<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome {{user.firstName}}</p>
<p>Pet Name: {{pet.name}}</p>
<p>
  {{pet.name}}
  {{pet.evoScore}}
  {{pet.foodScore}}
  {{pet.hygineScore}}
  {{pet.type}}
  {{pet.died}}
  </p>
<a href="/logout" class="btn btn-secondary">Logout</a>
